* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    color: #dadada;
}
#container {
    width: 100%;
    padding: 0.1vh 0.1vw;
}
.table {
    width: 100%;
    border-spacing: 0.3vh 0.5vh;
}
.cell {
    border: 1px solid #525252;
    padding: 1vh 1vw;
    height: 2vh;
    line-height: 2vh;
    overflow: hidden;
}
.cell.tableHeader {
    min-width: 7vw;
    max-width: 7.01vw;
    text-align: center;
    letter-spacing: 1px;
}
.cell.title {
    color: #ec1d1d;
    min-width: 20vw;
    max-width: 20.01vw;
    font-weight: bolder;
}
.cell.description {
    color: #e1cd48;
    min-width: 69.94vw;
    max-width: 69.95vw;
}
::-webkit-scrollbar {
    width: 0;
}
